* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(181, 217, 231);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 25px 25px 70px rgba(0, 0, 0, 0.5),
    15px 50px rgba(0, 0, 0, 0.5),
    inset 10px 10px 10px rgba(0, 0, 0, 0.5),
    inset -10px -10px 10px rgba(0, 0, 0, 0.5);

}

.output {
  width: 250px;
  height: 50px;
  padding: 5px;
  text-align: end;
  border-radius: 10px;
  font-size: 30px;
  background-color: rgb(53, 202, 7);
  border: none;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.all-btn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-color: rgb(106, 10, 196);

}

.all-btn button {
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 5px 5px 10px #000, inset 5px -5px 10px #000;
  background-color: rgb(85, 134, 89);
  color: rgb(235, 204, 215);

}

.all-btn .clr {
  grid-column: span 2;
  width: 110px;
  background-color: rgb(207, 72, 9);

}

.all-btn button:active {
  box-shadow: 0 0 10 rgb(226, 230, 9);
}

.all-btn .plus {
  grid-row: span 2;
  height: 110px;
  background-color: crimson;
}

.all-btn .eql {
  background-color: rgb(189, 162, 9);
}

.all-btn .del {
  background-color: crimson;
}